:root {
  --blue: #00d9ff;
  --black: #000000;
  --grey: #5e5e5e;
  --white: #ffffff;
}
* {
    box-sizing: content-box ;
    padding: 0;
    margin: 0;
  }
  
  
  body {
    background-color: var(--grey);
  }
  /*header*/
  .header {
    padding: 25px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    background-color: var(--blue);
    color: var(--black);
    top: 0;
    border: solid;
    border-color:var(--black);
  }
  
  
  .header h1 {
    display: inline-block;
    font-size: 50px;
  }
  
  
  .header nav {
    padding-top: 40px;
    margin-right: 200px;
    float: right;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 40px;
  }
  
  .header nav ul {
    list-style-type: none;
  }
  
  
  .header nav ul li {
    display: inline-block;
    margin-left: 25px;
  }
  
  
  .header nav a:hover {
    text-decoration: underline;
  }
  .section {
    padding: 100px;
  }
  section {
    padding-top: 30px;
    margin-right: 25px;
    float: left;
    
  }
  
  
  .project {
    padding: 10px;
    width: 300px;
    height: 400px;
    color: var(--white)
  }
  
  
  .project img {
    border: 5px;
    border-style: solid;
    border-color: var(--black);
    width: 90%;
  }
  
  
  .project img:hover {
    opacity: 0.5;
  }
  
  /*about me section*/
  p {
    font-size: 25px;
    border-style: solid; 
    background-color: var(--blue);
    margin-top: 20px;
    text-align: center;
    margin-left: 100px;
  }
  
  
  .about-me {
    height: 900px;
    width: 200%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
  }
  
  .float-left {
    float: left;
    margin-right: 25px;
  }
  
  
  .float-right {
    float: right;
    margin-left: 25px;
  }
  
  
  .content {
    width: 75%;
    display: inline-block;
    margin-left: 200px;
  }
  
  
  .benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    background-color: var(--blue);
  
  }
  
  .main-tab {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    background-color: var(--blue);
    color: var(--white);
  }
  
  
  .main-tab img {
    max-height: 200px;
  }
  
  .main-tab h2 {
    margin-bottom: 20px;
    font-size: 360px;
  }
  
  .footer {
    padding: 30px;
    clear: both;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    text-align: center;
    
  }
  .footer a {
      padding-top: 10px;
      margin-left: 700px;
      margin-right: 25px;
      text-align: left;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
      font-size: 25px; 
      color: var(--black);
      background-color: var(--blue);
    
  }
  
   /*contact me*/
   a {
    color: var(--black);
    text-decoration: none;
  }
  .article contact {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
   
  }
  
  .article contact ul {
    list-style-type: none;
  }
  
  .article contact ul li {
    display: inline-block;
    margin-left: 25px;
  }
  .article contact a:hover {
    text-decoration: underline;
    color: var(--blue);
  }
  